<!-- displays all recipes -->
<% layout('layouts/boilerplate') -%>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active position-relative" data-bs-interval="3000">
                <img src="/images/banners/recipe-banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption position-absolute top-50 start-50 translate-middle text-center ">
                    <h2 class="display-1 fw-bolder text-white">
                        Recipes
                    </h2>
                </div>
            </div>
            <div class="carousel-item position-relative" data-bs-interval="3000">
                <img src="/images/banners/recipe-banner2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption position-absolute top-50 start-50 translate-middle text-center ">
                    <h2 class="display-1 fw-bolder text-white">
                        Recipes
                    </h2>
                </div>
            </div>
            <div class="carousel-item position-relative" data-bs-interval="3000">
                <img src="/images/banners/recipe-banner3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption position-absolute top-50 start-50 translate-middle text-center ">
                    <h2 class="display-1 fw-bolder text-white">
                        Recipes
                    </h2>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>







    <!-- 

        <% for(let recipe of recipes) {%>
            <div class="border mb-4">
                <ul>
                    <li>
                        <h2>
                            <%=recipe.title%>
                        </h2>
                    </li>
                    <h3>Ingredents</h3>
                    <% for(let ingredient of recipe.ingredients){ %>
                        <li>
                            <%= ingredient %>
                        </li>
                        <% } %>
                            <h3>Description</h3>
                            <li>
                                <%= recipe.description %>
                            </li>
                            <li>
                                <%= recipe.author %>
                            </li>
                            <li>
                                <%= recipe.totalTime %>
                            </li>
                            <h3>Image</h3>
                            <% for(let img of recipe.image){ %>
                                <li>
                                    <%= img %>
                                </li>
                                <% } %>
                </ul>
            </div>
            <% } %>
    

-->